Repository BF-FrontEnd-class-2025/group-4-hyf, pull requests merged in 2025-01, with the labels that each got.

#8 add project description
  .cspell.json
  README.md
Labels: md, planning

#10 develop backlog
  planning/backlog.md
Labels: md

#11 update constraints
  planning/constraints.md
Labels: md, planning

#12 add communication plan
  planning/communication.md
Labels: md, planning

#13 update user-personas
  .cspell.json
  planning/user-personas.md
Labels: md, planning

#36 navigation bar
  index.html
  styles/something.css
Labels: HTML, CSS

#37 develop main-section
  index.html
  styles/something.css
Labels: HTML, CSS

#38 develop stats-section
  index.html
Labels: HTML, CSS

#39 develop programs-section
  index.html
Labels: HTML, CSS

#40 develop hiring-talent-section
  index.html
Labels: HTML, CSS

#41 develop about-hyf-section
  README.md
  index.html
  planning/development-strategy.md
Labels: HTML, CSS

#43 develop footer-section
  index.html
Labels: HTML, CSS

#46 develope readme and retrospective files
  README.md
  planning/retrospective.md
  planning/screenshot.jpg
  planning/screenshot.png
Labels: md, planning
